
body{
	margin: 20px;
	background-color: silver;
}

h1{
	text-align: center;
}

#wrapper{
	width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
}

#introScreen, #testScreen {
	position: absolute;
	width: 560px;
	height: 600px;
	background-color: white;
	padding: 20px;
}

#introScreen {
	z-index: 100;
}

.button{
	background-color: silver;
	color: black;
	
	padding: 10px;
	margin: 5px;
	border: 1px black solid;
	cursor: hand;
	cursor: pointer;

	user-select: none;
	-o-user-select:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.button:hover{
	background-color: gray;
	color: white;
}