body {
    background-color: black;
    color: gray;
}

header, main, nav, footer {
    text-align: center;
}

.column {
    display: inline-block; /* new property */
    margin:3em;
    width: auto;
}

.java {
    width:50%;
    margin:0px;
}

img {
    opacity: .5;
}

nav a { /* links within "nav" container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; 
    color: white;
    font-family: 'Helvetica';
}

#currentLink {
   color: #66C4E3;
}

nav a:hover { /* pseudo class */
    border-bottom:2px purple solid;
}

p {
    font-family: Helvetica;
    color: white;
}

.element {
    font-family: Helvetica;
    color: white;
}

code {
    background-color: #555;
    border-radius: 3px; /* new property */
    font-family: courier, monospace;
    padding: 0 3px;
    color: white;
}

strong { 
    color: #66C4E3;
}

footer {
    clear: left;
    color: white;
    font-size: 8pt;
    font-family: 'Helvetica'
}

h1 {
    font-size: 4em;
    margin-bottom: 0px;
    font-family: 'Helvetica';
    color: white;
}

h2 {
    font-size: 2em;
    margin-bottom: 0px;
    font-family: 'Helvetica';
}

.top {
    width:50%;
}


.bottom {
    width:25%;
}